rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow public read and write access to the products collection.
    // WARNING: You should secure this before deploying to production.
    match /products/{productId} {
      allow read, write: if true;
    }
  }
}
